@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

a { 
    text-decoration:none;
    color: white;
 }

.container {
    display: flex;
    flex-direction: row;
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    font-size: 180%;
}

.Ritem {
    padding: 10px;
    color: white;
    margin-right:auto;
    margin-left: 1%;


}
.item {
    padding: 10px;
    color: white;

}

.title {
    font-size: 100px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5%;
    margin-top: 3%;
    background-color: black;
    opacity: 30%;
    color: white;
}

.box1 {}

.aboutme {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 25%;
}

.name {
    font-size: 600%;
    margin-bottom: 1%;
    text-align: center;
}

.info {
    font-size: 200%;
    text-align: center;
}



#box2 {}

.hobby {
    font-size: 500%;
    color: white;

}

.FC {
    background-image: url("FC2.JPG");
    background-attachment: fixed;
    background-position: left center;
    background-size: 100%;
    padding: 6%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    margin-bottom: 5%;
}

.G {
    background-image: url("G1.JPG");
    background-attachment: fixed;
    background-position: left center;
    padding: 6%;
    background-size: 100%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    margin-bottom: 5%;
}

.M {
    background-image: url("M1.JPG");
    background-attachment: fixed;
    background-position: center;
    padding: 6%;
    background-size: 20%;
    background-repeat: no-repeat;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    margin-bottom: 5%;
}

#box3 {
    height: 1000px;
    
}
#box4 {
    height: 1000px;
    
}

#box5 {
    height: 1000px;
    
}